---
layout: layout.liquid
title: Home
---

<h1>Welcome to the Galactic Explorer's Log</h1>

<p>I have traversed the stars, documenting my journey across the cosmos. Read my latest logs below:</p>

<div class="blog-links">
  <ul>
    <li><a href="/posts/post-1/">Day 42: The Forgotten Moon</a></li>
    <li><a href="/posts/post-2/">Day 97: The Edge of the Known Universe</a></li>
  </ul>
</div>